<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title><%=title%></title>
	<script src="jquery-1.11.1.min.js"></script>
	<script src="bootstrap.js"></script>
	<script src="uploadfilemanage.js"></script>
	<link rel="stylesheet" href="stylesheets/style.css">
	<link rel="stylesheet" href="stylesheets/bootstrap.css">
</head>
<body>
	<form action="/upload/upload" method="post" enctype='multipart/form-data'>
	    <div>
	        <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Upload Files <input type="file" multiple>
                    </span>
                </span>
                <input type="text" class="form-control" wreadonly>
            </div>
	        <!-- <input type="file" name="uploadfile" multiple/> -->
	    </div><br/>
	    <div>
	        <input type="submit" class="btn btn-default" value="Upload"/>
	    </div>
	</form>
</body>
</html>